$main-font:"IBM Plex Sans";
$main-text:#fff;
$accent-color:rgb(37, 68, 52);

$main-bg-color1:#222831;
$main-bg-color2:#5b5b5b;



$h1-size:80px;
$h2-size:60px;
$h3-size:50px;
$h4-size:40px;
$h5-size:35px;
$h6-size:30px;
$p-size:20px;