#left-1 {
  background-color: #191d22;
}

#right-1 {
  background-color: #b9d2d2;
}




#left-2 {
  background-color: #323d44;
}

#right-2 {
  background-color: #323d44;
}

#left-3 {
  background-color: #262727;
}

#right-3 {
  background-color: #3d6064;
}

#left-4 {
  background-color: #2f3941;
}

#right-4 {
  background-color: #2f3941;
}

footer {
  background-color: #222831;
}