html {
  min-height: 100%;
  width: 100%;
}

body {
  // overflow: hidden;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg-color1);
}