#intro-wrapper {
  padding-top: 50px;
}

.main-wrapper {
  display: grid;
  width: fit-content;
  // min-height: 600px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left-column right-column";
  background: var(--main-bg-color1);
}

@media screen and (min-width:$large-screen-width) {
  .main-wrapper {
    width: .9*$large-screen-width;
  }
}

@media (max-width:$small-screen-width) {
  .main-wrapper {
    width: 100%;
    // min-height: 300px;
    grid-template-columns: 1fr;
    grid-template-areas: "left-column"
      "right-column";
  }
}