.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: var(--main-bg-color1);

  .logo-wrapper {
    margin-left: 2rem;
  }

  .nav-links-wrapper {
    margin-right: 1rem;

    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      li {
        margin-right: 1rem;
      }
    }
  }
}

@media (min-width:$large-screen-width) {
  .nav-wrapper {
    width: $large-screen-width;
    left: 50%;
    transform: translateX(-50%);
  }
}