.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: var(--nav-bg-color);


  left: 50%;
  transform: translateX(-50%);

  .logo-wrapper {
    padding-left: 1.5rem;
  }

  .nav-links-wrapper {
    margin-right: 1rem;

    ul {
      overflow: hidden;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      li {
        padding-right: 1rem;
      }

      li:nth-child(3) {
        padding: 0;
      }
    }
  }
}

@media (min-width:$large-screen-width) {
  .nav-wrapper {
    width: $large-screen-width;
  }
}