#profile-pic {
  padding: 1rem;
  background-color: #171922;
  border-radius: 5px;
  display: flex;


  img {
    width: 600px;
    height: 400px;
    object-fit: contain;
    margin: auto;

    @include small-screen {
      width: 400px;
      height: 300px;
    }

    @media (max-width:500px) {
      width: 300px;
      height: 200px;
    }

    @media (max-width:400px) {
      width: 260px;
      height: 180px;
    }
  }
}